<div class="container__footer">
    <figure>
        <img src="../../../assets/ps-logo-of-games.png" alt="">
        <figcaption>
            País/região: Brasil
        </figcaption>
    </figure>
    <nav>
        <ul>
            <li>Suporte</li>
            <li>Políticas de privacidade</li>
            <li>Termos de Uso do site</li>
            <li>Mapa do site</li>
            <li>PlayStation Studios</li>
        </ul>
    </nav>
    <div class="copyright">
        <p>© 2023 Sony Interactive Entertainment Inc. Todos os direitos reservados.</p>
    </div>
</div>