<div class="container__menu-main">
    <figure class="container__menu-main-logo">
        <img src="../../../../assets/ps-logo.png" alt="Logo PlayStation Store">
    </figure>
    <nav class="container__menu-main-nav">
        <ul>
            <li><a [routerLink]="['']" [routerLinkActive]="['activated']" [routerLinkActiveOptions]="{exact: true}">Novidades</a></li>
            <li><a [routerLink]="['collections']" [routerLinkActive]="['activated']">Coleções</a></li>
            <li><a [routerLink]="['offer']" [routerLinkActive]="['activated']">Ofertas</a></li>
            <li><a [routerLink]="['ps5']" [routerLinkActive]="['activated']">PS5</a></li>
            <li><a [routerLink]="['assings']" [routerLinkActive]="['activated']">Assinaturas</a></li>
            <li><a [routerLink]="['nav']" [routerLinkActive]="['activated']">Navegar</a></li>
        </ul>
    </nav>
</div>