<div class="collection__container">
	<div class="collection__container-cover">
		<app-page-cover 
            urlCover="https://image.api.playstation.com/pr/bam-art/161/881/14d7598a-2f7e-4d42-893e-123796b6d8b5.png?w=440&thumb=false"
            urlCoverBackground="https://image.api.playstation.com/pr/bam-art/161/881/c4cdf08c-1660-44a8-8693-5d992fc6757e.jpg?w=1920&thumb=false"></app-page-cover>
	</div>
	
	<div class="collection__container-title">
		<app-title-button
			title="Escolhas Mensais"
			textButton="Veja mais"
			description="Os jogos que adoramos e que vão agradar você."
		></app-title-button>
	</div>

	<div class="collection__container-card">
		<app-card
			gameCover="assets/bt-1.jpg"
			gameLabel="DIGITAL"
			gameType="DIGITAL | PS4"
			gamePrice="R$ 129,99"
		>
		</app-card>
		<app-card
			gameCover="assets/bt-4.jpg"
			gameLabel="EXCLUSIVE"
			gameType="DISC | PS5"
			gamePrice="R$ 269,99"
		>
		</app-card>
		<app-card
			gameCover="assets/ac-cover.jpg"
			gameLabel="BEST OF YEAR"
			gameType="DIGITAL | PS5"
			gamePrice="R$ 369,99"
			>
		</app-card>
		<app-card
			gameCover="assets/bt-hardline.jpg"
			gameLabel="NEW"
			gameType="DIGITAL | PS3 PS4 PS5"
			gamePrice="R$ 369,99"
		>
		</app-card>
	</div>
	
</div>