<div class="container__menu-hidden">
    <figure class="container__menu-hidden-logo">
        <img src="../../../../assets/ps-logo-of-games.png" alt="">
    </figure>
    <nav class="container__menu-hidden-nav">
        <ul>
            <li>Jogos <button><img src="../../../../assets/arrow-down-sign-to-navigate.png" alt="seta de opções"></button></li>
            <li>Hardware <button><img src="../../../../assets/arrow-down-sign-to-navigate.png" alt="seta de opções"></button></li>
            <li>Serviços <button><img src="../../../../assets/arrow-down-sign-to-navigate.png" alt="seta de opções"></button></li>
            <li>Notícias <button><img src="../../../../assets/arrow-down-sign-to-navigate.png" alt="seta de opções"></button></li>
            <li>Loja <button><img src="../../../../assets/arrow-down-sign-to-navigate.png" alt="seta de opções"></button></li>
            <li>Suporte <button><img src="../../../../assets/arrow-down-sign-to-navigate.png" alt="seta de opções"></button></li>
        </ul>
    </nav>
</div>
